* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.page {
  background-color: #00020e;
  background-image: url("/assets/images/background-img.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

/*
    -- HEADER --
*/

.page__header {
  width: 100%;
  padding: 3%;
}

.header__container {
  margin-top: 8%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__title {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.container__img {
  width: 60%;
  margin: 4% 0 7% 0;
}

.container__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links__link {
  height: 50px;
  border: 1px solid #167bf7;
  border-radius: 8px;
  background-color: #167bf7;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.links__link-alura {
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.container__text {
  color: #c0c0c0;
  margin-top: 1.5%;
  font-family: "Inter", sans-serif;
  font-size: 0.65rem;
  font-weight: 300;
}

/*
    -- MAIN --
*/

.page__main {
  height: 2395px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.8fr;
}

.main__container {
  display: grid;
  grid-template:
    "img title" 1fr
    "img text" 1fr
    /1fr 1fr;
  gap: 2% 6%;
}

.container__main-img {
  grid-area: img;
  color: #ffffff;
  justify-self: end;
  align-self: center;
}

.container__subtitle {
  grid-area: title;
  color: #ffffff;
  align-self: end;
  justify-self: start;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.container__main-text {
  grid-area: text;
  color: #f9f9f9;
  align-self: start;
  justify-self: start;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  width: 80%;
}

.main__container-text {
  display: grid;
  grid-template:
    "text img" 1fr
    "link img" 1fr
    /1fr 1fr;
  gap: 5% 6%;
}

.container-text__text {
  grid-area: text;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #f9f9f9;
  width: 80%;
  align-self: end;
  justify-self: end;
}

.container-text__link {
  grid-area: link;
  align-self: start;
  justify-self: end;
  width: 80%;
  height: 22%;
}

.link__text {
  display: inline-flex;
  border: 1px solid #167bf7;
  background: #167bf7;
  border-radius: 8px;
  height: 100%;
  width: 45%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.container-text__img {
  grid-area: img;
  align-self: center;
  justify-self: start;
}

.main__container-screens {
  display: grid;
  grid-template:
    "tt tt tt" 1fr
    "tv pc cel" 2fr
    /1fr 1fr 1fr;
  align-items: center;
}

.container-screens__subtitle {
  grid-area: tt;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  align-self: end;
}

.container-screens__tv {
  grid-area: tv;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  justify-self: end;
}

.container-screens__pc {
  grid-area: pc;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.container-screens__cel {
  grid-area: cel;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  justify-self: start;
}

/*
    -- FOOTER --
*/

.page__footer {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer__logo {
  margin-bottom: 1%;
}

.footer__list {
  display: flex;
  gap: 20px;
}

.list__link {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.footer__text {
  color: #c0c0c0;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  width: 85%;
}

@media only screen and (max-width: 1200px) {
  .page {
    background-image: none;
  }

  .page__header {
    width: 100%;
    padding: 0 3% 0 3%;
    background-image: none;
    display: flex;
    justify-content: center;
  }

  .header__container {
    width: 80%;
  }

  .page__main {
    display: flex;
    flex-direction: column;
    padding: 0 3% 0 3%;
    height: auto;
    align-items: center;
    gap: 9rem;
  }
  /* peimeira section */
  .main__container {
    /* margin: 10% 0 10% 0; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .container__subtitle {
    align-self: center;
  }

  .container__main-text {
    align-self: center;
  }

  .main__container-text {
    /* margin: 7% 0 7% 0; */
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .container-text__text {
    align-self: center;
  }

  .container-text__link {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
  }

  .link__text {
    height: 5rem;
    align-self: center;
    width: 30%;
  }

  .page__footer {
    height: auto;
    padding: 10% 0 5% 0;
  }

  .footer__list {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5%;
  }

  .main__container-screens {
    /* margin: 7% 0 7% 0; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container-screens__subtitle {
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .header__container {
    width: 90%;
  }

  .container__main-img {
    width: 85%;
  }

  .container-text__img {
    width: 85%;
  }

  .link__text {
    width: 55%;
  }

  .page__footer {
    height: auto;
    padding: 20% 0 10% 0;
  }
}

@media only screen and (max-width:550px) {
  .container__title{
    font-size: 1.5rem;
  }

  .container__subtitle{
    font-size: 2rem;
  }

  .container-screens__subtitle{
    font-size: 2rem;
  }

  .main__container-screens img{
    width: 85%;
  }
}
